<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
<<<<<<< HEAD:project_2_temp/views/layouts/main.handlebars
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

=======
  <link rel="stylesheet" type="text/css" href="./style.css">
>>>>>>> 6a55c021c02480e876965037cf029fbf46d740c5:views/layouts/main.handlebars
  <title>Home Page</title>
</head>

<body>
  {{{body}}}
</body>

</html>
