
{{> navbar/navbar-block}}

<br>
<br>
<br>
<!-- home -->
<section id="home" class="container">
  {{!-- <div class="parallax p-1">
  </div> --}}
  <h1 class="justDrive" style="text-align:center">Just Drive</h1>
  <div class="parallax p-2">
  </div>
  <h1 class="justDrive" style="text-align:center">Discover New Route</h1>

  <table style="height: 30%; width:100%;">
    <tbody>
      <tr>
        <td class="title align-middle">

          <div id="routeDisplay">
            <ul id="example-list" class="list-group" style="margin-botton:750px">
              {{#each examples}}
              <li data-id="{{this.id}}" class="list-group-item">
                <a href="example/{{this.id}}">{{this.text}} to {{this.description}}</a>
              </li>
              {{/each}}
            </ul>
          </div>
