<div id="members">
  {{>navbar/navbar-block}}
  <section id="discover">

    <div class="background">
      <table style="height: 100%; width:100%;">
        <tbody>
          <tr>
            <div class="buffer">
              <td class="title align-middle text-center text-light">
                <br>
                <br>
                <nav class="navbar navbar-default">
                  <div class="container-fluid">
                    <div class="navbar-header">

                    </div>
                  </div>
                </nav>
                <div class="container">
                  <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                      <h2>Welcome <span class="member-name"></span></h2>
                    </div>
                  </div>
                </div>

                <p class="animated fadeIn">Discover new and exciting roads to drive.</p>
                <p class="animated fadeIn">Just for fun.</p>
                <br>
                <br>


                <form class="animated lightSpeedIn" action="POST">


                  <div class="form-row align-content-center">

                    <img class="animated lightSpeedIn" id="farari" src="https://i.ibb.co/fCFYW8Y/farr-2.png" alt="farr-2"
                      border="0" /></a>


                    <div class="col-md-auto">
                      <input type="text" id="example-text" class="form-control" aria-describedby="example-text"
                        placeholder="Origin">
                    </div>
                    <div class="col-md-auto">
                      <input type="text" id="example-description" class="form-control" aria-describedby="example-description"
                        placeholder="Destination">
                      <button id="submit2" class="btn btn-primary btn-sm animated fadeIn" data-toggle="modal"
                        data-target="#road-Card" style="width: 262px;">
                        Search
                      </button>
                    </div>


                  </div>


                  {{!-- <button id="submit2" class="btn btn-primary float-right">Submit</button> --}}
                </form>



                <!-- Button trigger modal -->

                <!-- Modal -->
                <div class="modal fade active" id="road-Card" tabindex="-1" role="dialog" aria-labelledby="label2"
                  aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="label2">Route</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>

                      <div class="modal-body">
                        <!-- modal content goes here -->

                        <div calss="google-map" id="test2"></div>

                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
                <br>
                <br>
                {{!-- <p class="animated fadeIn">Just drive...</p> --}}

              </td>
            </div>
          </tr>
        </tbody>
      </table>
    </div>

    <div id="backContainer" class="animated fadeIn delay-0s">
      <a href="/" class="back">← Back To Home</a>
    </div>

                          <a class="navbar-brand" href="/logout">
                        Logout
                      </a>

  </section>
</div>



<div id="test2"></div>
<script type="text/javascript" src="js/index.js"></script>
<script type="text/javascript" src="js/members.js"></script>