<div="login">
<nav class="navbar navbar-light bg-dark">
  <span class="navbar-brand mb-0 h1">
    <a class="smallLogo" href="/">Just Drive</a>
  </span>


  <div id="navlist">
        <a id="button_one" href="/">Home</a>
    
     <a id="button_three" class="animated heartBeat delay-0s" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
      aria-controls="collapseExample">
      About Us
    </a>
    <a id="button_two" href="/logout">Log Out</a>
    {{!-- Collapsed Sign In Sheet --}}
     <div class="collapse" id="collapseExample">
      <div class="card card-body"> 
      This application, to help other users experience of <i>The Drive </i> The best roads are the ones that require you to get lost. We will help you get there.
        
    </div>
  </div> 

</nav>
</div>


    
