<div="login">
<nav class="navbar navbar-light bg-dark">
  <span class="navbar-brand mb-0 h1">
    <a class="smallLogo" href="/">Just Drive</a>
  </span>
  <a class="button_four" href="/input">Discover New Route</a>

  {{!-- <nav id="new" class="animated heartBeat delay-1s">
    <a href="/input">Discover New Route</a>
  </nav> --}}

  <div id="navlist">
    <a id="button_one" href="/">Home</a>
    <a id="button_two" href="/about">About</a>
     <a id="button_three" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
      aria-controls="collapseExample">
      Sign In
    </a>
    {{!-- Collapsed Sign In Sheet --}}
    <div class="collapse" id="collapseExample">
      <div class="card card-body">
{{!-- <form class="login">
  <div class="form-group">
    <label for="exampleInputEmail1">Email Address</label>
    <input type="email" class="form-control" id="email-input" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="password-input" placeholder="Password">
      <h4><a id="signUpButton" href="/signup">Don't have password? Sign up!</a></h4>
  </div>


    <div class="form-group">
  <button id="signSubmitButton" type="submit" >Submit</button>
  </div>
</form>  --}}
  
      </div>
    </div>
  </div>
</nav>
</div>


    
